<a href="https://colab.research.google.com/github/Huntfalow123/data2020/blob/master/DataTransform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
from google.colab import drive
import pandas as pd
import io
!pip install country_converter
!pip install pycountry
import pycountry
import country_converter as coco
drive.mount('/content/drive')

Requirement already satisfied: country_converter in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: pandas>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from country_converter) (1.1.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17.0->country_converter) (1.15.0)
Requirement already satisfied: pycountry in /usr/local/lib/python3.6/dist-packages (20.7.3)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
Global_Mobility = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Community mobility reports/Global_Mobility_Report.csv')
Covid_Response = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Novel Coronavirus 2019 datasets/covid_19_data.csv')
Government_Reponse = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Oxford Covid-19 Government Response Tracker/OxCGRT_latest.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
Global_Mobility.dropna(subset=['country_region_code', 'date'],inplace=True)
countries = {}
for country in pycountry.countries:
    countries[country.alpha_2] = country.alpha_3
Global_Mobility['country_region_code'].replace(countries, inplace=True)
Global_Mobility = Global_Mobility[['country_region_code','date','retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline','parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']]
print(Global_Mobility['country_region_code'].drop_duplicates().isna().sum())

0

In [55]:
Global_Mobility.update(Global_Mobility.sort_values(['country_region_code','date'],ascending=True).groupby('country_region_code').ffill())

In [48]:
print(Global_Mobility.isna().sum())

country_region_code                                     0
date                                                    0
retail_and_recreation_percent_change_from_baseline      0
grocery_and_pharmacy_percent_change_from_baseline       3
parks_percent_change_from_baseline                    220
transit_stations_percent_change_from_baseline         228
workplaces_percent_change_from_baseline                 2
residential_percent_change_from_baseline              954
dtype: int64

In [51]:
SchoolC = Government_Reponse[['CountryCode','Date','C1_Flag']]
SchoolC.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
SchoolC['School_Date'] = pd

      CountryCode      Date  C1_Flag
75            ABW  20200316      1.0
76            ABW  20200317      1.0
77            ABW  20200318      1.0
78            ABW  20200319      1.0
79            ABW  20200320      1.0
...           ...       ...      ...
66507         ZWE  20200924      1.0
66508         ZWE  20200925      1.0
66509         ZWE  20200926      1.0
66510         ZWE  20200927      1.0
66511         ZWE  20200928      1.0

[41981 rows x 3 columns]