<a href="https://colab.research.google.com/github/kirstentai/data2020/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd
import io
!pip install country_converter
import country_converter as coco
drive.mount('/content/drive')

Requirement already satisfied: country_converter in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: pandas>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from country_converter) (1.1.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17.0->country_converter) (1.15.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Loading Data**

In [ ]:
Global_Mobility = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Community mobility reports/Global_Mobility_Report.csv')
Covid_Response = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Novel Coronavirus 2019 datasets/covid_19_data.csv')
Government_Reponse = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Oxford Covid-19 Government Response Tracker/OxCGRT_latest.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        country_region_code  ... residential_percent_change_from_baseline
0                        AE  ...                                      1.0
1                        AE  ...                                      1.0
2                        AE  ...                                      1.0
3                        AE  ...                                      1.0
4                        AE  ...                                      1.0
...                     ...  ...                                      ...
2621842                  ZW  ...                                      NaN
2621843                  ZW  ...                                      NaN
2621844                  ZW  ...                                      NaN
2621845                  ZW  ...                                      NaN
2621846                  ZW  ...                                      NaN

[2621847 rows x 14 columns]

In [ ]:
df1 = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Community mobility reports/Global_Mobility_Report.csv')
df1

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        country_region_code  ... residential_percent_change_from_baseline
0                        AE  ...                                      1.0
1                        AE  ...                                      1.0
2                        AE  ...                                      1.0
3                        AE  ...                                      1.0
4                        AE  ...                                      1.0
...                     ...  ...                                      ...
2621842                  ZW  ...                                      NaN
2621843                  ZW  ...                                      NaN
2621844                  ZW  ...                                      NaN
2621845                  ZW  ...                                      NaN
2621846                  ZW  ...                                      NaN

[2621847 rows x 14 columns]

Convert alpha-3 to alpha-2 country codes
https://pypi.org/project/country-converter/

In [ ]:
unique_country = df1.country_region_code.unique()
countries = unique_country.tolist()
#countries

iso2_codes = coco.convert(names=countries, to='ISO2')
print(iso2_codes)

nan not found in ISO3

['AE', 'AF', 'AG', 'AO', 'AR', 'AT', 'AU', 'AW', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BJ', 'BO', 'BR', 'BS', 'BW', 'BY', 'BZ', 'CA', 'CH', 'CI', 'CL', 'CM', 'CO', 'CR', 'CV', 'CZ', 'DE', 'DK', 'DO', 'EC', 'EE', 'EG', 'ES', 'FI', 'FJ', 'FR', 'GA', 'GB', 'GE', 'GH', 'GR', 'GT', 'GW', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'IL', 'IN', 'IQ', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KR', 'KW', 'KZ', 'LA', 'LB', 'LI', 'LK', 'LT', 'LU', 'LV', 'LY', 'MA', 'MD', 'MK', 'ML', 'MM', 'MN', 'MT', 'MU', 'MX', 'MY', 'MZ', 'not found', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH', 'PK', 'PL', 'PR', 'PT', 'PY', 'QA', 'RE', 'RO', 'RS', 'RU', 'RW', 'SA', 'SE', 'SG', 'SI', 'SK', 'SN', 'SV', 'TG', 'TH', 'TJ', 'TR', 'TT', 'TW', 'TZ', 'UA', 'UG', 'US', 'UY', 'VE', 'VN', 'YE', 'ZA', 'ZM', 'ZW']

In [ ]:
standard_names = coco.convert(names = countries, to = 'name_short')
standard_names

['United Arab Emirates',
 'Afghanistan',
 'Antigua and Barbuda',
 'Angola',
 'Argentina',
 'Austria',
 'Australia',
 'Aruba',
 'Bosnia and Herzegovina',
 'Barbados',
 'Bangladesh',
 'Belgium',
 'Burkina Faso',
 'Bulgaria',
 'Bahrain',
 'Benin',
 'Bolivia',
 'Brazil',
 'Bahamas',
 'Botswana',
 'Belarus',
 'Belize',
 'Canada',
 'Switzerland',
 "Cote d'Ivoire",
 'Chile',
 'Cameroon',
 'Colombia',
 'Costa Rica',
 'Cabo Verde',
 'Czech Republic',
 'Germany',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Estonia',
 'Egypt',
 'Spain',
 'Finland',
 'Fiji',
 'France',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea-Bissau',
 'Hong Kong',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Israel',
 'India',
 'Iraq',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'South Korea',
 'Kuwait',
 'Kazakhstan',
 'Laos',
 'Lebanon',
 'Liechtenstein',
 'Sri Lanka',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Libya',
 'Morocco',
 'Moldova',
 'Macedonia',
 'Mali',
 'Myanmar',
 'Mongolia',
 'Malta',
 'Mauritius',
 'Mexico',
 'Malaysia',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Panama',
 'Peru',
 'Papua New Guinea',
 'Philippines',
 'Pakistan',
 'Poland',
 'Puerto Rico',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Reunion',
 'Romania',
 'Serbia',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Sweden',
 'Singapore',
 'Slovenia',
 'Slovakia',
 'Senegal',
 'El Salvador',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkey',
 'Trinidad and Tobago',
 'Taiwan',
 'Tanzania',
 'Ukraine',
 'Uganda',
 'United States',
 'Uruguay',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [ ]:
df2 = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Oxford Covid-19 Government Response Tracker/OxCGRT_latest.csv')
df2

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      CountryName  ... EconomicSupportIndexForDisplay
0           Aruba  ...                            0.0
1           Aruba  ...                            0.0
2           Aruba  ...                            0.0
3           Aruba  ...                            0.0
4           Aruba  ...                            0.0
...           ...  ...                            ...
66511    Zimbabwe  ...                           25.0
66512    Zimbabwe  ...                           25.0
66513    Zimbabwe  ...                           25.0
66514    Zimbabwe  ...                           25.0
66515    Zimbabwe  ...                           25.0

[66516 rows x 44 columns]

In [ ]:
df2 = pd.read_csv('/content/drive/My Drive/Datasets/02 Other + documentation/Economist excessive deaths/all_weekly_excess_deaths.csv')
df2

            country  ... excess_deaths_pct_change
0           Austria  ...                -0.110657
1           Austria  ...                -0.083567
2           Austria  ...                 0.005821
3           Austria  ...                 0.018201
4           Austria  ...                 0.070486
...             ...  ...                      ...
4589  United States  ...                 0.126233
4590  United States  ...                 0.145166
4591  United States  ...                 0.145736
4592  United States  ...                 0.129214
4593  United States  ...                 0.049079

[4594 rows x 16 columns]

In [ ]:
df2 = pd.read_csv('/content/drive/My Drive/Datasets/00 Core/Novel Coronavirus 2019 datasets/covid_19_data.csv')
df2

           SNo ObservationDate     Province/State  ... Confirmed  Deaths  Recovered
0            1      01/22/2020              Anhui  ...       1.0     0.0        0.0
1            2      01/22/2020            Beijing  ...      14.0     0.0        0.0
2            3      01/22/2020          Chongqing  ...       6.0     0.0        0.0
3            4      01/22/2020             Fujian  ...       1.0     0.0        0.0
4            5      01/22/2020              Gansu  ...       0.0     0.0        0.0
...        ...             ...                ...  ...       ...     ...        ...
116800  116801      09/23/2020  Zaporizhia Oblast  ...    3149.0    49.0     1158.0
116801  116802      09/23/2020            Zeeland  ...    1270.0    72.0        0.0
116802  116803      09/23/2020           Zhejiang  ...    1282.0     1.0     1272.0
116803  116804      09/23/2020    Zhytomyr Oblast  ...    5191.0    92.0     2853.0
116804  116805      09/23/2020       Zuid-Holland  ...   29513.0  1372.0        0.0

[116805 rows x 8 columns]

In [ ]:
cultrual_df = pd.read_csv('/content/drive/My Drive/Datasets/01 Suggested/Hofstede national culture dimensions (2015)/6-dimensions-for-website-2015-08-16.csv',sep = ';')
cultrual_df.describe()

        ctr  country     pdi     idv     mas     uai  ltowvs     ivr
count   111      111     111     111     111     111     111     111
unique  111      111      50      55      50      51      62      61
top     GBR  Estonia  #NULL!  #NULL!  #NULL!  #NULL!  #NULL!  #NULL!
freq      1        1      33      33      33      33      15      14

Kirsten
01 Suggested
Hofstede National Cultural Dimensions

In [ ]:
hofs_culture = pd.read_csv('/content/drive/My Drive/Datasets/01 Suggested/Hofstede national culture dimensions (2015)/6-dimensions-for-website-2015-08-16.csv', sep=';')
hofs_culture

     ctr      country     pdi     idv     mas     uai  ltowvs  ivr
0    AFE  Africa East      64      27      41      52      32   40
1    AFW  Africa West      77      20      46      54       9   78
2    ALB      Albania  #NULL!  #NULL!  #NULL!  #NULL!      61   15
3    ALG      Algeria  #NULL!  #NULL!  #NULL!  #NULL!      26   32
4    AND      Andorra  #NULL!  #NULL!  #NULL!  #NULL!  #NULL!   65
..   ...          ...     ...     ...     ...     ...     ...  ...
106  URU      Uruguay      61      36      38     100      26   53
107  VEN    Venezuela      81      12      73      76      16  100
108  VIE      Vietnam      70      20      40      30      57   35
109  ZAM       Zambia  #NULL!  #NULL!  #NULL!  #NULL!      30   42
110  ZIM     Zimbabwe  #NULL!  #NULL!  #NULL!  #NULL!      15   28

[111 rows x 8 columns]

WGI
Voice and Accountability

In [ ]:
wgi_voice = pd.read_csv('/content/drive/My Drive/Datasets20/wgi_voice_acct.csv')
wgi_voice

            Unnamed: 0 Unnamed: 1      1996  ... 2019.3 2019.4  2019.5
0    Country/Territory       Code  Estimate  ...   Rank  Lower   Upper
1                Aruba        ABW       NaN  ...  92.61  73.89  100.00
2              Andorra        ADO      1.56  ...  87.19  72.91   96.06
3          Afghanistan        AFG     -1.91  ...  21.67  15.76   25.12
4               Angola        AGO     -1.58  ...  25.62  21.67   30.05
..                 ...        ...       ...  ...    ...    ...     ...
210             Serbia        SRB     -1.22  ...  45.81  39.90   55.17
211       South Africa        ZAF      0.84  ...  69.46  61.08   73.89
212   Congo, Dem. Rep.        ZAR     -1.60  ...  12.81   6.90   16.26
213             Zambia        ZMB     -0.33  ...  36.95  32.51   42.86
214           Zimbabwe        ZWE     -0.61  ...  16.75  12.81   22.17

[215 rows x 128 columns]

Brandon take these
WGI Political Stability and Absence of Violence/ Terrorism

In [ ]:
wgi_pstability = pd.read_csv('/content/drive/My Drive/Datasets20/wgi_violence.csv')
wgi_pstability

            Unnamed: 0 Unnamed: 1      1996  ... 2019.3 2019.4  2019.5
0    Country/Territory       Code  Estimate  ...   Rank  Lower   Upper
1                Aruba        ABW       NaN  ...  80.29  69.71   92.31
2              Andorra        ADO      1.41  ...  98.08  84.13  100.00
3          Afghanistan        AFG     -2.18  ...   7.21   1.92   13.46
4               Angola        AGO     -0.86  ...  12.98   7.21   19.71
..                 ...        ...       ...  ...    ...    ...     ...
210             Serbia        SRB     -1.06  ...  53.37  38.46   66.83
211       South Africa        ZAF      1.02  ...  66.35  55.77   73.56
212   Congo, Dem. Rep.        ZAR     -1.65  ...   4.81   1.44   10.10
213             Zambia        ZMB     -1.13  ...  27.40  14.90   38.94
214           Zimbabwe        ZWE     -0.32  ...  10.58   6.25   16.35

[215 rows x 128 columns]

WGI Government Effectiveness

In [ ]:
wgi_gov_effectiveness = pd.read_csv('/content/drive/My Drive/Datasets20/wgi_effectiveness.csv')
wgi_gov_effectiveness

            Unnamed: 0 Unnamed: 1      1996  ... 2019.3 2019.4  2019.5
0    Country/Territory       Code  Estimate  ...   Rank  Lower   Upper
1                Aruba        ABW       NaN  ...  80.29  69.71   92.31
2              Andorra        ADO      1.41  ...  98.08  84.13  100.00
3          Afghanistan        AFG     -2.18  ...   7.21   1.92   13.46
4               Angola        AGO     -0.86  ...  12.98   7.21   19.71
..                 ...        ...       ...  ...    ...    ...     ...
210             Serbia        SRB     -1.06  ...  53.37  38.46   66.83
211       South Africa        ZAF      1.02  ...  66.35  55.77   73.56
212   Congo, Dem. Rep.        ZAR     -1.65  ...   4.81   1.44   10.10
213             Zambia        ZMB     -1.13  ...  27.40  14.90   38.94
214           Zimbabwe        ZWE     -0.32  ...  10.58   6.25   16.35

[215 rows x 128 columns]

ECDC Weekly Data

In [ ]:
ECDC_Testing = pd.read_excel('/content/drive/My Drive/Datasets/02 Other + documentation/ECDC Weekly data/weekly_testing_data_EUEEAUK_2020-10-01_0.xlsx')
ECDC_Testing

            country country_code  ... positivity_rate  testing_data_source
0           Austria           AT  ...       16.541049   Manual webscraping
1           Austria           AT  ...        1.461838   Manual webscraping
2           Austria           AT  ...        1.411357   Manual webscraping
3           Austria           AT  ...        1.263253      Country website
4           Austria           AT  ...        0.728299      Country website
..              ...          ...  ...             ...                  ...
949  United Kingdom           UK  ...        0.598438      Country website
950  United Kingdom           UK  ...        0.639170      Country website
951  United Kingdom           UK  ...        0.862309      Country website
952  United Kingdom           UK  ...        1.389611      Country website
953  United Kingdom           UK  ...        1.391576      Country website

[954 rows x 9 columns]